.title {
  margin-top: 5rem;
  font-size: 4rem;
  font-weight: 700;
  color: #eff28a;
}

.recentPostContainer {
  margin-top: 5rem;
  width: 70%;
  max-width: 1280px;
}

.recentPost {
  margin: 3rem 0;
  display: flex;
}

.recentPost:first-child {
  margin-top: 0;
}

.recentPost h2 {
  margin-bottom: 1rem;
  font-size: 2.2rem;
  font-weight: 700;
}

.recentPost h3 {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 300;
  color: #eff28a;
}

.recentPost p {
  font-size: 1.4rem;
}

.postContents {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.postContents a:link, .postContents a:visited {
  color: #ffffff;
  text-decoration: none;
}

.postContents a:hover {
  opacity: 0.9;
}